## What is Hierarchical Indexing?

**Hierarchical Indexing** (also called **MultiIndex**) is a powerful feature in **pandas** that allows you to have **multiple index levels** (i.e., tiers or keys) on a single axis â€” either **rows or columns**.

### Why Use Hierarchical Indexing?

- Allows analysis of **high-dimensional data** (data with multiple categories or features) in a **2D structure**.
- Enables more powerful **grouping**, **filtering**, **slicing**, **pivoting**, and **reshaping** operations.
- Useful for **summarizing**, **cross-tabulation**, and **multi-level aggregations**.

### How to Create a MultiIndex

In [16]:
import pandas as pd

In [17]:
# Load data
df = pd.read_csv('Superstore.csv')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [9]:
df['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [10]:
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

#### 1. From Lists or Arrays

In [28]:
arrays = [['East', 'East', 'West', 'West'],
          ['Furniture', 'Technology', 'Furniture', 'Technology']]

index = pd.MultiIndex.from_arrays(arrays, names=['Region', 'Category'])

# Now you must also specify the data values for each index row
data = [100, 200, 150, 300]

df = pd.DataFrame(data, index=index, columns=['Sales'])
print(df)

                   Sales
Region Category
East   Furniture     100
       Technology    200
West   Furniture     150
       Technology    300

#### 2. From Tuples

In [29]:
import pandas as pd

# Define the index using tuples
tuples = [('East', 'Furniture'), ('East', 'Technology'),
          ('West', 'Furniture'), ('West', 'Technology')]

index = pd.MultiIndex.from_tuples(tuples, names=['Region', 'Category'])

# Define sample data (e.g., Sales values)
data = [100, 200, 150, 300]

# Create the DataFrame with the MultiIndex
df = pd.DataFrame(data, index=index, columns=['Sales'])

# Display the DataFrame
print(df)

                   Sales
Region Category
East   Furniture     100
       Technology    200
West   Furniture     150
       Technology    300

#### 3. From Columns in a DataFrame

This is used when:

- You already have a DataFrame and you want to set existing columns as a MultiIndex.
- It preserves the data in the DataFrame, just changes how the rows are indexed.

In [18]:
df.set_index(['Region', 'Category'], inplace=True)

#### 4. From Product (all combinations)

This is used when:
- manually defineing index values
- You are not just reshaping existing data, but building a structured index that may include combinations not present in your original DataFrame.
- Commonly used when you want to reindex your grouped data to include all expected combinations, filling in missing ones with 0 or NaN.

In [ ]:
regions = ['East', 'West']
categories = ['Furniture', 'Technology']

index = pd.MultiIndex.from_product([regions, categories], names=['Region', 'Category'])

### Grouping Data

In [31]:
# group sales by Region and Category:
grouped = df.groupby(['Region', 'Category'])[['Sales']].sum()
grouped

                   Sales
Region Category
East   Furniture     100
       Technology    200
West   Furniture     150
       Technology    300

### Accessing and Slicing MultiIndexed Data

In [ ]:
# Access by Top Level
df.loc['East'].head()  # All categories in East

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Sub-Category,Product Name,Sales
Category,,,,,,,,,,,,,,,,
Furniture,24,US-2018-156909,16/07/2018,18/07/2018,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140.0,FUR-CH-10002774,Chairs,"Global Deluxe Stacking Chair, Gray",71.372
Furniture,28,US-2016-150630,17/09/2016,21/09/2016,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140.0,FUR-BO-10004834,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.430
Furniture,30,US-2016-150630,17/09/2016,21/09/2016,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140.0,FUR-FU-10004848,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.200
Furniture,58,CA-2017-111682,17/06/2017,18/06/2017,First Class,TB-21055,Ted Butterfield,Consumer,United States,Troy,New York,12180.0,FUR-CH-10003968,Chairs,Novimex Turbo Task Chair,319.410
Furniture,97,CA-2018-161018,09/11/2018,11/11/2018,Second Class,PN-18775,Parhena Norris,Home Office,United States,New York City,New York,10009.0,FUR-FU-10000629,Furnishings,9-3/4 Diameter Round Wall Clock,96.530

In [10]:
grouped.loc['East']              # All categories in East

                      Sales
Category
Furniture        206461.388
Office Supplies  199940.811
Technology       263116.527

In [28]:
df.loc[('East', 'Furniture')].head()  # Only Furniture in East

                  Row ID        Order ID  Order Date   Ship Date
Region Category
East   Furniture      24  US-2018-156909  16/07/2018  18/07/2018  \
       Furniture      28  US-2016-150630  17/09/2016  21/09/2016
       Furniture      30  US-2016-150630  17/09/2016  21/09/2016
       Furniture      58  CA-2017-111682  17/06/2017  18/06/2017
       Furniture      97  CA-2018-161018  09/11/2018  11/11/2018

                       Ship Mode Customer ID    Customer Name      Segment
Region Category
East   Furniture    Second Class    SF-20065  Sandra Flanagan     Consumer  \
       Furniture  Standard Class    TB-21520  Tracy Blumstein     Consumer
       Furniture  Standard Class    TB-21520  Tracy Blumstein     Consumer
       Furniture     First Class    TB-21055  Ted Butterfield     Consumer
       Furniture    Second Class    PN-18775   Parhena Norris  Home Office

                        Country           City         State  Postal Code
Region Category
East   Furniture  United States   Philadelphia  Pennsylvania      19140.0  \
       Furniture  United States   Philadelphia  Pennsylvania      19140.0
       Furniture  United States   Philadelphia  Pennsylvania      19140.0
       Furniture  United States           Troy      New York      12180.0
       Furniture  United States  New York City      New York      10009.0

                       Product ID Sub-Category
Region Category
East   Furniture  FUR-CH-10002774       Chairs  \
       Furniture  FUR-BO-10004834    Bookcases
       Furniture  FUR-FU-10004848  Furnishings
       Furniture  FUR-CH-10003968       Chairs
       Furniture  FUR-FU-10000629  Furnishings

                                                       Product Name     Sales
Region Category
East   Furniture                 Global Deluxe Stacking Chair, Gray    71.372
       Furniture  Riverside Palais Royal Lawyers Bookcase, Royal...  3083.430
       Furniture  Howard Miller 13-3/4" Diameter Brushed Chrome ...   124.200
       Furniture                           Novimex Turbo Task Chair   319.410
       Furniture                    9-3/4 Diameter Round Wall Clock    96.530

In [ ]:
# Access by Tuple
grouped.loc[('East', 'Furniture')]  # Only Furniture in East

Sales    206461.388
Name: (East, Furniture), dtype: float64

In [30]:
#Total sales for technology in central region
grouped.loc[('Central', 'Technology')]

Sales    168739.208
Name: (Central, Technology), dtype: float64

In [13]:
# Reset or Set Index
grouped.reset_index(inplace=True)     # Remove hierarchical index
grouped.head()

   index   Region         Category        Sales
0      0  Central        Furniture  160317.4622
1      1  Central  Office Supplies  163590.2430
2      2  Central       Technology  168739.2080
3      3     East        Furniture  206461.3880
4      4     East  Office Supplies  199940.8110

In [18]:
df.set_index(['Region', 'Category'], inplace=True)  # Create it again
df

                         Row ID        Order ID  Order Date   Ship Date
Region  Category
South   Furniture             1  CA-2017-152156  08/11/2017  11/11/2017  \
        Furniture             2  CA-2017-152156  08/11/2017  11/11/2017
West    Office Supplies       3  CA-2017-138688  12/06/2017  16/06/2017
South   Furniture             4  US-2016-108966  11/10/2016  18/10/2016
        Office Supplies       5  US-2016-108966  11/10/2016  18/10/2016
...                         ...             ...         ...         ...
Central Office Supplies    9796  CA-2017-125920  21/05/2017  28/05/2017
East    Office Supplies    9797  CA-2016-128608  12/01/2016  17/01/2016
        Technology         9798  CA-2016-128608  12/01/2016  17/01/2016
        Technology         9799  CA-2016-128608  12/01/2016  17/01/2016
        Technology         9800  CA-2016-128608  12/01/2016  17/01/2016

                              Ship Mode Customer ID     Customer Name
Region  Category
South   Furniture          Second Class    CG-12520       Claire Gute  \
        Furniture          Second Class    CG-12520       Claire Gute
West    Office Supplies    Second Class    DV-13045   Darrin Van Huff
South   Furniture        Standard Class    SO-20335    Sean O'Donnell
        Office Supplies  Standard Class    SO-20335    Sean O'Donnell
...                                 ...         ...               ...
Central Office Supplies  Standard Class    SH-19975     Sally Hughsby
East    Office Supplies  Standard Class    CS-12490  Cindy Schnelling
        Technology       Standard Class    CS-12490  Cindy Schnelling
        Technology       Standard Class    CS-12490  Cindy Schnelling
        Technology       Standard Class    CS-12490  Cindy Schnelling

                           Segment        Country             City
Region  Category
South   Furniture         Consumer  United States        Henderson  \
        Furniture         Consumer  United States        Henderson
West    Office Supplies  Corporate  United States      Los Angeles
South   Furniture         Consumer  United States  Fort Lauderdale
        Office Supplies   Consumer  United States  Fort Lauderdale
...                            ...            ...              ...
Central Office Supplies  Corporate  United States          Chicago
East    Office Supplies  Corporate  United States           Toledo
        Technology       Corporate  United States           Toledo
        Technology       Corporate  United States           Toledo
        Technology       Corporate  United States           Toledo

                              State  Postal Code       Product ID
Region  Category
South   Furniture          Kentucky      42420.0  FUR-BO-10001798  \
        Furniture          Kentucky      42420.0  FUR-CH-10000454
West    Office Supplies  California      90036.0  OFF-LA-10000240
South   Furniture           Florida      33311.0  FUR-TA-10000577
        Office Supplies     Florida      33311.0  OFF-ST-10000760
...                             ...          ...              ...
Central Office Supplies    Illinois      60610.0  OFF-BI-10003429
East    Office Supplies        Ohio      43615.0  OFF-AR-10001374
        Technology             Ohio      43615.0  TEC-PH-10004977
        Technology             Ohio      43615.0  TEC-PH-10000912
        Technology             Ohio      43615.0  TEC-AC-10000487

                        Sub-Category
Region  Category
South   Furniture          Bookcases  \
        Furniture             Chairs
West    Office Supplies       Labels
South   Furniture             Tables
        Office Supplies      Storage
...                              ...
Central Office Supplies      Binders
East    Office Supplies          Art
        Technology            Phones
        Technology            Phones
        Technology       Accessories

                                                              Product Name
Region  Category
South   Furniture                        Bush Somerset Collection Bookcase  \
        Furniture        Hon Deluxe Fabric Upholstered Stacking Chairs,...
West    Office Supplies  Self-Adhesive Address Labels for Typewriters b...
South   Furniture            Bretford CR4500 Series Slim Rectangular Table
        Office Supplies                     Eldon Fold 'N Roll Cart System
...                                                                    ...
Central Office Supplies  Cardinal HOLDit! Binder Insert Strips,Extra St...
East    Office Supplies           BIC Brite Liner Highlighters, Chisel Tip
        Technology                                             GE 30524EE4
        Technology                Anker 24W Portable Micro USB Car Charger
        Technology                     SanDisk Cruzer 4 GB USB Flash Drive

                            Sales
Region  Category
South   Furniture        261.9600
        Furniture        731.9400
West    Office Supplies   14.6200
South   Furniture        957.5775
        Office Supplies   22.3680
...                           ...
Central Office Supplies    3.7980
East    Office Supplies   10.3680
        Technology       235.1880
        Technology        26.3760
        Technology        10.3840

[9800 rows x 16 columns]

###  Reshaping with MultiIndex

In [32]:
grouped

                   Sales
Region Category
East   Furniture     100
       Technology    200
West   Furniture     150
       Technology    300

####  Stack and Unstack

In [ ]:
grouped.stack()

Region   Category
Central  Furniture        Sales    160317.4622
         Office Supplies  Sales    163590.2430
         Technology       Sales    168739.2080
East     Furniture        Sales    206461.3880
         Office Supplies  Sales    199940.8110
         Technology       Sales    263116.5270
South    Furniture        Sales    116531.4800
         Office Supplies  Sales    124424.7710
         Technology       Sales    148195.2080
West     Furniture        Sales    245348.2455
         Office Supplies  Sales    217466.5090
         Technology       Sales    247404.9300
dtype: float64

In [24]:
grouped.unstack()  # Moves inner index (Category) to columns

                Sales
Category    Furniture Office Supplies  Technology
Region
Central   160317.4622      163590.243  168739.208
East      206461.3880      199940.811  263116.527
South     116531.4800      124424.771  148195.208
West      245348.2455      217466.509  247404.930

In [19]:
# Sorting and Indexing
df.sort_index(level=0, inplace=True)  # Sort by Region
df.head()

                   Row ID        Order ID  Order Date   Ship Date
Region  Category
Central Furniture      37  CA-2017-117590  08/12/2017  10/12/2017  \
        Furniture      39  CA-2016-117415  27/12/2016  31/12/2016
        Furniture      40  CA-2016-117415  27/12/2016  31/12/2016
        Furniture      52  CA-2016-115742  18/04/2016  22/04/2016
        Furniture      53  CA-2016-115742  18/04/2016  22/04/2016

                        Ship Mode Customer ID  Customer Name      Segment
Region  Category
Central Furniture     First Class    GH-14485      Gene Hale    Corporate  \
        Furniture  Standard Class    SN-20710   Steve Nguyen  Home Office
        Furniture  Standard Class    SN-20710   Steve Nguyen  Home Office
        Furniture  Standard Class    DP-13000  Darren Powers     Consumer
        Furniture  Standard Class    DP-13000  Darren Powers     Consumer

                         Country        City    State  Postal Code
Region  Category
Central Furniture  United States  Richardson    Texas      75080.0  \
        Furniture  United States     Houston    Texas      77041.0
        Furniture  United States     Houston    Texas      77041.0
        Furniture  United States  New Albany  Indiana      47150.0
        Furniture  United States  New Albany  Indiana      47150.0

                        Product ID Sub-Category
Region  Category
Central Furniture  FUR-FU-10003664  Furnishings  \
        Furniture  FUR-BO-10002545    Bookcases
        Furniture  FUR-CH-10004218       Chairs
        Furniture  FUR-FU-10001706  Furnishings
        Furniture  FUR-CH-10003061       Chairs

                                                        Product Name     Sales
Region  Category
Central Furniture  Electrix Architect's Clamp-On Swing Arm Lamp, ...  190.9200
        Furniture  Atlantic Metals Mobile 3-Shelf Bookcases, Cust...  532.3992
        Furniture           Global Fabric Manager's Chair, Dark Gray  212.0580
        Furniture                       Longer-Life Soft White Bulbs    6.1600
        Furniture                   Global Leather Task Chair, Black   89.9900