# Make predictions on the Test Data

In [1]:
import math
import pickle #For saving the model
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures, FunctionTransformer, StandardScaler
from sklearn.pipeline import make_pipeline

## STEP 1: Run the same Data Preparation Steps

In [7]:
test = pd.read_csv('test.csv')
test.head()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
0,15289,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.399367,0.408088,31.394569
1,15290,12.5,0.25,0.25,0.75,0.63,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.488048,0.442866,36.846956
2,15291,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.583379,0.487057,40.037644
3,15292,25.0,0.50,0.38,0.38,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.433014,0.422847,33.116091
4,15293,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,24.0,0.39,0.360996,0.388860,29.558019

In [5]:
test.columns

Index(['id', 'clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'MinOfUpperTRange', 'AverageOfUpperTRange',
       'MaxOfLowerTRange', 'MinOfLowerTRange', 'AverageOfLowerTRange',
       'RainingDays', 'AverageRainingDays', 'fruitset', 'fruitmass', 'seeds'],
      dtype='object')

In [4]:
X = test[['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'MinOfUpperTRange', 'AverageOfUpperTRange',
       'MaxOfLowerTRange', 'MinOfLowerTRange', 'AverageOfLowerTRange',
       'RainingDays', 'AverageRainingDays', 'fruitset', 'fruitmass', 'seeds']]
X.shape

(10194, 16)

## STEP 2: Make predictions using fitted model

In [6]:
loaded_model = pickle.load(open('finalmodel.sav', 'rb'))
y_pred = loaded_model.predict(X)
y_pred.shape

(10194,)

## STEP 3: Export the submission file

In [8]:
## This is the structure of the final submission file
sample = pd.read_csv('sample_submission.csv')
sample.head()

      id     yield
0  15289  6025.194
1  15290  6025.194
2  15291  6025.194
3  15292  6025.194
4  15293  6025.194

The submission file needs to include the ID column and the final prediction. as `yield`

In [14]:
final = pd.DataFrame(test['id'],columns=['id'])
final['yield'] = y_pred
final = final.set_index('id')
final.head()

             yield
id
15289  4310.869359
15290  6103.339248
15291  7257.079313
15292  4981.632216
15293  3672.506679

In [15]:
final.to_csv('submission.csv')